@import "../styles/Varibles.css";

.main_boards_container {
  display: flex;
  gap: 20px;
  color: black;
  height: calc(100vh - 102px);
  overflow-y: hidden;
  overflow-x: scroll;
}

.list {
  background-color: #427999;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  height: min-content;
  transition: background-color 0.3s;
}

.list.hover {
  background-color: #5a9bd8; /* Change this to your desired hover color */
}

.list h3 {
  margin-top: 0;
}

.list div {
  background-color: #73f3be;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  cursor: pointer;
}



