@import "../styles/Varibles.css";

.main_boards_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
  width: 100%; /* Ensure it takes the full width of the parent */
  border: 1px solid red;
  overflow: hidden; /* Prevent the main container from scrolling */
}

.lists_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-grow: 1; /* Allow it to take up remaining space */
  overflow-x: auto; 
  overflow-y: hidden;
  height: calc(100vh - 104px);
  gap: 720px; /* Set a reasonable gap value */
}

.lists {
  display: flex;
  flex-direction: column; /* Ensure this is set to column */
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 400px;
  min-width: 400px;
  height: auto;
  border: 1px solid rgb(0, 255, 136);
}