@import "../styles/Varibles.css";




.main_boards_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.lists_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh - 102px);
  gap: 80px;
  padding-left: 30px;
  scrollbar-width: auto;
}

.lists {
  display: flex;
  flex-direction: column;
  /* Ensure this is set to column */
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
  min-width: 300px;
  height: auto;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: 20px;
  max-height: calc(100vh - 180px);
  overflow: hidden;
}

.list_title {
  margin-top: 5px;
  margin-bottom: 0px;
}

.all_tasks_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 5;
  /* max-height: calc(100vh - 102px); */
  overflow-y: auto;
  width: 100%;
  min-width: 300px;
  overflow-x: hidden;
}

/* =================================================== add new list styles ============================================== */
.add_new_list_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 300px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: 20px;
  min-width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 100px;
}

.add_new_list_container:hover {
  background-color: #2b2b2b !important;
}

.add_new_list_icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.add_new_list_p {
  margin: 0px;
  font-size: 16px;
}


.add_new_list_container_for_input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: 20px;
  min-width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 100px;
}


.ad_list_buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

/* ====================================== list card  element styles ====================================== */

.task_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 5;
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: 20px;
  border: 1px solid #646464;
  cursor: pointer;

}

.task_container:hover {
  border: 1px solid rgb(14, 129, 129) !important;

}

.task_title {
  font-weight: 800;
  width: 100%;
  text-align: left;
  margin-left: 15px;
}

.due_date_p{
  margin: 0px;
  width: 100%;
  text-align: right;
  margin-right: 15px;
  color: #646464;
}

.line_before_plus {
  width: 80%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(43, 43, 43);
}

/* ====================================== task uopdate and delete window  ====================================== */
.dark_background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.295);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
}

.task_update_window {
  width: 700px;
  height: 600px;
  background-color: #121212;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.task_title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  background-color: tomato;
  height: 80px;
  padding: 5px;
  position: relative;
}

.selected_task_title_icon {
  width: 40px;
  height: 40px;
}

.selected_task_title {
  font-size: 20px;
  margin: 0px;
}

.inputs_and_icons_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.save_task_icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.save_task_icon:hover {
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  fill: green;

}

.cansell_task_icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.cansell_task_icon:hover {
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  fill: red;
}

.selectedtask_edit_icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.selectedtask_edit_icon:hover {
  fill: #121212;
}

/* -------------------- contebt -------------- */
.task_content_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;

}

.description_and_icon_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.selected_task_description_icon {
  width: 30px;
  height: 30px;
}

/* ------------------------------- edit description ------------ */
.descr_and_icon_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: self-start;
  flex-direction: row;
  gap: 10px;
}

.selected_task_description {
  text-align: left;
  max-width: 500px;
  margin: 0px;
}

.decsr_edit_icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.selected_task_description_input {
  width: 600px;
  height: 200px;
  max-height: 300px;

}

/* ================================================================================================================ */

.plus_sign {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}


.plus_sign:hover {
  transform: rotate(180deg);
}

/* ====================================== task add modal element styles ====================================== */

.task_add_mother_cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task_add_modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 5;
  height: auto;
  border-radius: 20px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-top: 20px;
  border-top: 1px solid #121212;
  border-bottom: 1px solid red;
}

.task_add_inputs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}



.add_task_and_plus_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 15px;
  margin-bottom: 30px;
  width: 80%;
}

.add_task_and_plus_container:hover {
  background-color: #121212;
}

.add_task_and_plus_container:hover .plus_sign {
  transform: rotate(180deg);
}

.plus_sign {
  width: 15px;
  height: 15px;
}

.add_task_p {
  font-size: 16px;
  margin: 0px;
}