.main_calendar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 70px);

  margin-left: 20px;
  margin-right: 20px;
}

.calendar_year_controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: relative;
}

.calendar_tooltip_cont{
  position: absolute;
  left: 0px;
}

.year_change_arrow_icon {
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
  transition: color 0.3s;
}

.year_change_arrow_icon:hover {
  color: #069e5f;
}

.currentyear_h2 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 0px;
}

.yearly_calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  width: 100%;
  /* Ensure it takes the full width of its container */
  max-width: 100%;
  padding-left: 20px;

  padding-right: 20px;
}

.calendar_month h3 {
  text-align: center;
  margin-bottom: 10px;
}

.calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar_day_header {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.calendar_empty_day {
  height: 30px;
}

.calendar_day {
  text-align: center;
  padding: 5px;
  border-radius: 5px;

  cursor: pointer;
  min-height: 25px;

}


.highlighted_day {
  background-color: #583bffab;
  /* Highlight color */
  font-weight: bold;
}

.highlighted_day:hover {
  background-color: #fdd835;
}

/* =================================== selected day modal on calendar =================================== */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  /* Darker background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.selected_day_info {
  position: absolute;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  text-align: left;
  max-height: 80%;
  overflow-y: auto;
}

.selected_day_container_list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
}

.selected_day_task_container {
  border: 1px solid;
  padding: 8px;
  border-radius: 8px;
  min-height: 130px;
  height: auto;

}

.selected_day_task_board_container {
  margin-top: -25px;
  width: max-content;
}

.selected_day_task_board {
  margin: 0px;
  margin-left: 10px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.selected_day_boardname_h2 {
  margin: 0px;
  font-size: 19px;
}

.selected_day_task_list {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 8px;
  margin-top: 20px;
  height: auto;
  padding-left: 10px;
}

.selected_day_icon_list_h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: -12px;
  margin-left: 15px;
  width: max-content;
  padding-left: 7px;
  padding-right: 7px;

}

.selected_day_h2 {
  font-size: 15px;
  margin: 0px;
}

.selected_day_each_task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 8px;
  height: auto;
  min-height: 40px;
  width: 80%;
  font-weight: 500;
}

.selected_day_each_task_priority{
  width: 100px;
  height: 15px;
  border-radius: 25px;
  margin-bottom: 5px;
}

.selected_day_each_task_title {
  margin: 0px;
  font-size: 18px;
}

.selected_day_each_task_due_date{
  font-size: 12px;
  margin: 0px;
}


.selected_day_close_button{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.selected_day_close_button:hover{
  background-color: #ff4d4d;
}



/* ====================================================================================================================== */


/* Media Queries for Responsive Design */
@media (min-width: 1200px) {
  .yearly_calendar {
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns for larger screens */
  }
}

@media (min-width: 1600px) {
  .yearly_calendar {
    grid-template-columns: repeat(5, 1fr);
    /* 5 columns for 2K screens */
  }
}

@media (max-width: 768px) {
  .yearly_calendar {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for tablets */
  }
}

@media (max-width: 480px) {
  .yearly_calendar {
    grid-template-columns: 1fr;
    /* 1 column for small screens */
  }
}