.main_finish_profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.finish_profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 20px auto;

}

.finish_profile_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 20px 10px 20px 10px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.finish_btn {

  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}