.main_members_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  max-height: 50px;
}

.user_avatar_skeleton_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: -25px;
}



.user_profile_images {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -30px;
}


.add_user_icon {
  width: 27px;
  height: 27px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: white;

}

/* ============================== board name cont styles ========================= */

.board_name_cont {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
}

.board_icon {
  width: 20px;
  height: 20px;
  color: white;
}

.board_name_inp_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board_name_input {
  width: min-content;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
  border: none;
  outline: none;
  width: 200px;
}

.board_name_input::placeholder {
  color: var(--placeholder-color, #aaa);
}

.save_board_name_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.save_board_name_icon:hover {
  transform: scale(1.2);
  color: #2ed8c1 !important;
}

.discard_board_name_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.discard_board_name_icon:hover {
  transform: scale(1.2);
  color: tomato !important;
}



.board_name {
  font-size: 20px;
  margin: 0px;
}

.edit_board_name_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit_board_name_icon:hover {
  transform: scale(1.2);
  color: #2ed8c1 !important;
}

.delete_board_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete_board_icon:hover {
  transform: scale(1.2);
  color: tomato !important;
}


/* ========================================================================================= */

.all_users_main_window {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bloored_ackgrownd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.548);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.each_user_container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 500px;
  padding: 10px;
  border-radius: 10px;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 650px;
}



.each_user_child_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  gap: 20px;
  margin-top: 20px;
}

.users_skeleton_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;


}


.close_icon_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
}

.manage_users_text {
  font-size: 20px;
  font-weight: bold;
}

.refresh_and_close_icons_cont {
  position: absolute;
  top: 10;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}


.refresh_users_icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.refresh_users_icon:hover {
  transform: rotate(180deg) scale(1.2);
  color: #2ed8c1 !important;
}



.close_icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.close_icon:hover {
  transform: scale(1.2);
  color: red !important;
}

.parent_of_input_and_emails {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_input {
  border-radius: 5px;
  padding: 6px 10px;
  margin-bottom: 10px;
  outline: none;
  width: 200px;
  font-size: 15px;
}

.search_input::placeholder {
  color: var(--placeholder-color, #aaa);
}

.suggested_users_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 90%;
  overflow-y: auto;
  height: auto;
  max-height: 300px;
  border-radius: 5px;
  padding: 5px;
}

.suggested_user {
  padding: 3px;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  border: 1px solid;
}

.selected_emails_cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
  gap: 10px;
  max-height: 130px;
  overflow-y: auto;
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #00000050;
}

.selected_email {
  border: 1px solid black;
  padding: 3px;
  background-color: rgba(42, 194, 143, 0.459);
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.unselect_email {
  cursor: pointer;
  color: red;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}

.unselect_email:hover {
  transform: scale(1.2);
  color: firebrick !important;
}

.invite_users_button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}

.each_user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-height: 50px;
  border-radius: 5px;
  height: 50px;
  width: 600px;
  padding: 5px;

}

.image_and_name_cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.board_user_images {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.boarduser_email {
  font-size: 15px;
  color: rgb(94, 94, 94);
}

.select_and_delete_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.owner_status {
  margin-right: 35px;
  font-weight: bold;
}

.select_status {
  cursor: pointer;
}

.delete_user {
  width: 30px;
  height: 30px;
}

.leave_board_button {
  width: 130px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.delete_icon_for_admin {
  cursor: pointer;
  color: red;
  transition: all 0.3s ease;
}

.delete_icon_for_admin:hover {
  transform: scale(1.2);
  color: firebrick !important;
}


.delete_icon_for_member {
  cursor: not-allowed;
  color: rgb(119, 119, 119);

}

/* make this container position fixted and centered  */
.delete_user_window {
  width: 500px;
  height: 500px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.dark_background_for_delete {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.bloored_ackgrownd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(10px);
  z-index: -1;
}