.mindmap_main_container {
  width: 100%;
  height: calc(100vh - 72px);
  /* overflow: hidden;  // Optional: add if you want to hide overflow */
}

/* =========================================  task connect warning styles ============================================ */
.warning_message_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  /* Prevents blocking UI */
}

.warning_message_container .dark_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0 0 0 / 0.4);
  z-index: 99999;
}

.warning_message_container .warning_text {
  position: relative;
  z-index: 999999;
  border: 2px solid;
  border-radius: 8px;
  padding: 24px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  text-align: center;
  max-width: 90vw;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.warning_little_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskwarning_icon {
  color: red;
  width: 30px;
  height: 30px;
}

.warning_text_message {
  font-size: 16px;
  margin: 0px;
}

.warning_close_button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  font-weight: bold;
}

.warning_close_button:hover {
  box-shadow: 0 2px 4px rgba(0 0 0 / 0.3);
  background-color: seagreen !important;
}

/* ===================================================================================================== */
.diagram_new_item_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.react-flow__attribution {
  display: none !important;
}

.new_item_modal {
  min-width: 300px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new_item_input {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
}


.new_item_input::placeholder {
  color: var(--placeholder-color);
}

.create_new_item_buttons_cont{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.cancel_new_item_button{
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.cancel_new_item_button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: red !important;
  border-color: red !important;
}

.create_new_item_button{
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.create_new_item_button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: seagreen !important;
  border-color: seagreen !important;
}

/* ==================================================  list name  update modal styles ============================================ */

.listname_update_buttons_cont{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.listname_button_cancel{
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.listname_button_cancel:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: red !important;
  border-color: red !important;
}

.listname_button_update{
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.listname_button_update:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: seagreen !important;
  border-color: seagreen !important;
}
/* ==================================================  board name  update modal styles ============================================ */

.boardname_update_input{
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
}

/* .boardname_update_input::placeholder {
  color: var(--placeholder-color);
} */


.boardname_update_buttons_cont{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.boardname_button_cancel{
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.boardname_button_cancel:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: red !important;
  border-color: red !important;
}

.boardname_button_update{
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.boardname_button_update:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: seagreen !important;
  border-color: seagreen !important;
}





.mindmap_board_selection_panel_container {
  z-index: 1000;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}


.mindmap_board_return_container {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  padding: 0px 8px 0px 6px;
  height: 34px;
  transition: all 0.3s ease-in-out;
}

.mindmap_board_return_container:hover {
  background-color: seagreen !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mindmap_board_selection_icon {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

.return_board_p {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px;
}


.delete_new_node_button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.delete_new_node_button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: red !important;
}

.add_new_node_button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.add_new_node_button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: seagreen !important;
}

.reset_positions_button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.reset_positions_button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: red !important;
}


.mindmap_board_select {
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  min-width: 150px;
  border: 1px solid;
}


.mindmap_diagram_container {
  width: 100%;
  height: calc(100vh - 128px);
  position: relative;
  overflow: hidden;
}




.diagram_loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hashloader {
  width: 60px;
  height: 60px;
}

/* ======================================= task node styles ========================================= */
.all_user_image_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 2px;
  overflow-x: scroll;
  overflow: hidden;
}

.tasknode_user_images_cont {
  display: flex;
  align-items: center;
  gap: 5px;

}

.tasknode_image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}




/* ====================================================================================================== */


@media screen and (max-width: 768px) {
  .mindmap_diagram_container {
    width: 100%;
    height: calc(100vh - 173px);
    position: relative;
    overflow: hidden;
  }

  .warning_text {
    width: 70%;
  }

  .warning_text_message {
    font-size: 14px;
  }
}