.mindmap_main_container {
  width: 100%;
  height: calc(100vh - 75px);
  border: 1px solid red;
  /* overflow: hidden;  // Optional: add if you want to hide overflow */
}

.diagram_new_item_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.react-flow__attribution {
  display: none !important;
}





.new_item_modal {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid;
}



.new_item_input {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
}


.mindmap_board_selection_panel_container {
  z-index: 1000;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}


.mindmap_board_select {
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 12px;
  min-width: 150px;
  border: 1px solid;
}



.mindmap_control_panel_buttons_container {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
























.mindmap_diagram_container {
  width: 100%;
  height: calc(100vh - 175px);
  position: relative;
  overflow: hidden;
  border: 1px solid green;
}




.diagram_loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hashloader {
  width: 60px;
  height: 60px;
}