.main_reset_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.send_reset_email_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.reset_email_input_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 10px;
}


.reset_email_icon{
  font-size: 24px;
}

.reset_email_input{
  width: 250px;
  padding: 8px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.reset_email_input::placeholder{
  color: var(--placeholder-color);
}

.send_reset_email_button{
  padding: 5px 20px;
  border: 1px solid ;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  font-size: 14px;
  margin-top: 10px;
}

.send_reset_email_button:hover{
  background-color: seagreen !important;
}

.send_reset_email_button:disabled,
.send_reset_email_button[disabled] {
  background-color: inherit !important; 
  color: inherit !important;
  cursor: not-allowed;
}

.send_reset_email_button:disabled:hover,
.send_reset_email_button[disabled]:hover {
  background-color: inherit !important;
  color: inherit !important;
}


.open_email_prov_open_btn{
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  width: fit-content;
  border: 1px solid;
  cursor: pointer;
}

.open_email_prov_open_btn:hover{
  background-color: seagreen !important;
}