.templates_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 110px);
}




.templates-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin: 5px;
  position: relative;
}

.template_boardname_button_cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.template_boardname {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0px;
  text-align: left;
}


.template_card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  min-height: 350px;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  position: relative;
}


.each_template_board_list {
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  height: min-content;
  transition: background-color 0.3s;
  display: inline-block;
  min-width: 300px;
  margin-left: 20px;
  max-height: 95%;
  overflow-y: auto;
  padding-top: 0px;
  transition: background-color 0.3s;
  min-height: 300px;

}

.template_list_name {
  margin-top: 5px;
}


.template_task_p {
  margin-top: 3px;
  font-weight: bold;
  color: black;
}

.task_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background-color: #2ed8c1;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: auto;
  min-height: 60px;
}

.template_due_Date_p {
  font-size: 12px;
  color: rgb(83, 83, 83);
  margin: 0px;
  bottom: 1px;
  right: 5px;
}


.priority {
  width: 100px;
  height: 15px;
  border-radius: 25px;
}