@import "../../styles/Varibles.css";


.members_container{
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}



.main_boards_container {
  display: flex;
  gap: 20px;
  color: black;
  height: calc(100vh - 152px);
  overflow-x: auto; /* Allow horizontal overflow */
  overflow-y: hidden; /* Prevent vertical overflow */
}

.lists_container {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto; /* Ensure horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  height: 100%; /* Ensure the container takes the full height */
  white-space: nowrap; /* Prevent line breaks */
}



.add_new_list_cont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent !important;
}
