.list_title_and_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  position: absolute;
  width: 290px;
  padding: 5px;
  transition: background-color 0.3s;
  min-height: 33px;

}





.list_title_and_buttons.scrolled {
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.list_name_input{
  width: 220px;
  height: 20px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid;
  outline: none;
  transition: border-color 0.2s ease;
  border: 1px solid;
}


.list_title {
  margin: 0px;
  margin-left: 2px;
}

/* ---------------------------------- edit and delete icon styles ----------------------------- */
.list_buttons {
  display: flex;
  gap: 5px;
  font-size: 20px;
  min-height: 20px;
}

.list_edit_delete_icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit_list_icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete_list_icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.edit_list_icon:hover {
  color: #2ed8c1;
}

.delete_list_icon:hover {
  color: tomato;
}

/* --------------------------------------------------------------------------------------------------- */


.margin_element {
  margin-top: 50px;
}

.list {
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  height: min-content;
  transition: background-color 0.3s;
  display: inline-block;
  min-width: 300px;
  min-height: 50px;
  margin-left: 20px;
  max-height: 95%;
  overflow-y: auto;
  padding-top: 0px;
  transition: background-color 0.3s;
  z-index: 1;
}

.list.hover {
  background-color: #0F1214;
  /* Change this to your desired hover color */
}

.add_task_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 5px;

}

.add_new_task_button {
  border: none;
  border-radius: 5px;
  padding: 6px 16px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  margin-top: 5px;
  transition: all 0.3s ease;
}

.add_new_task_button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
