.main_profilinfo_cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  border: 1px dashed;
  padding: 10px;
  position: relative;
  margin-top: 40px;
  border-radius: 10px;
  min-height: 80px;
  background-color: rgba(0 0 0 / 0.14) !important;
}

.user_info_update_cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: max-content;
  top: 0px;
  margin-top: -16px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.3s ease;
  border-radius: 40px;
  border: 1px dashed;
}

.user_info_update_p {
  top: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}



.user_info_input_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin-left: 30px;
  height: 100%;
}


.names_with_input_cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  min-width: 300px;
  height: 100%;
}

.each_input_cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}


.user_icon {
  width: 25px;
  height: 25px;
}

.user_username {
  margin: 0px;
  font-size: 26px;
}

.user_info_edit_icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.input_and_save_icoin_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.username_input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border: 1px solid;
}

.username_input::placeholder {
  color: var(--placeholder-color, #888);
}

/* =============================== ant designe phone select styles ====================================== */

.pass_custom-phone-dropdown {
  background: var(--task-background-color) !important;
  color: var(--main-text-coloure) !important;
  border: 1px solid var(--border-color) !important;
}

.pass_custom-phone-dropdown .country {
  color: var(--main-text-coloure) !important;
  background: var(--task-background-color) !important;
}

.pass_custom-phone-dropdown .country:hover,
.pass_custom-phone-dropdown .country.highlight {
  background: var(--hover-color) !important;
  color: var(--main-text-coloure) !important;
}

/* Change placeholder color for react-phone-input-2 */
.custom-phone-container .form-control::placeholder {
  color: var(--due-date-color) !important;
  /* or any color you want */
  opacity: 1 !important;
}

.custom-phone-container .arrow {
  border-top: 4px solid var(--due-date-color) !important;
  /* Use your theme variable or any color */
}

/* ====================================================================================================== */
.x_and_mark_icon_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.save_icon {
  width: 26px;
  height: 26px;
  color: mediumseagreen;
  cursor: pointer;
}

.cansel_icon {
  width: 26px;
  height: 26px;
  color: red;
  cursor: pointer;
}





.tmz_input_and_save_icoin_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ====================================================================================================== */

@media screen and (max-width: 768px) {


  .main_profilinfo_cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border: 1px dashed;
    padding: 10px;
    position: relative;
    margin-top: 40px;
    border-radius: 10px;
    min-height: 80px;
    transition: height 0.3s ease;
  }


  .user_info_input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-left: 0px;
    height: 100%;
  }

.names_with_input_cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  min-width: 300px;
  height: 100%;
}



}